.header {
  display: flex;
  position: relative;
  z-index: 999999;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #4caf50;
  border-bottom: 1px solid #ddd;
}

.header-title {
  color: black;
  font-size: 14px;
  margin: 0;
  text-decoration: none;
}

.header-contacts {
  color: black;
  font-size: 16px;
  margin: 0;
  margin-left: 0px;
  text-decoration: none;
}

.header-search {
    display: flex;
    gap: 5px;
    margin-left: 250px;
}

.header-buttons {
  display: flex;
  background: none;
  color: black;
  gap: 10px;
}

.header-title:hover,
.header-contacts:hover{
  color: white;
}

.header-button {
  background: none;
  color: black;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}

.header-button:hover {
  color: white;
  background-color: transparent;
}

.cart-quantity {
  position: absolute;
  top: 16px;
  right: 7px;
  background-color: white;
  color: black;
  font-size: 1rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.search-input {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
    outline: none;
}

.search-input:focus {
    border-color: #007bff;
}