.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #4caf50;
  border-bottom: 1px solid #ddd;
}

.header-title {
  color: black;
  font-size: 14px;
  margin: 0;
  text-decoration: none;
}

.header-title:hover {
  color: white;
}

.header-phone {
  color: black;
  margin: 0;
  font-size: 16px;
}

.header-buttons {
  display: flex;
  background: none;
  color: black;
  gap: 10px;
}

.header-button {
  background: none;
  color: black;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}

.header-button:hover {
  color: white;
  background-color: transparent;
}

