.book-list {
  position: relative;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 16px;
  background-color: #f9f9f9;
  gap: 0;
}



.book-card {
  position: relative;
  z-index:0;
  margin: 0;
  flex: 1 1 calc(25% - 16px);
  max-width: calc(26% - 16px);
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
}

.book-card:hover {
  box-shadow: 10px 8px 16px rgba(0, 0, 0, 0.2);
}

.cart-button {

  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.8rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  margin-bottom: 10px;
}

.cart-button:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}


.book-image {
  width: auto;
  height: 200px;
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 0px;
}

.book-details {
  text-align: center;
}

.book-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3.5em;
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.book-author {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.book-price {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin-bottom: 44px;
}

.pagination button.active {
  background-color: #28a745;
  color: black;
  border: none;
}

.pagination button {
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0 2px;
  cursor: pointer;
}

.pagination button:disabled {
  color: black;
  cursor: not-allowed;
}


.book-card-footer {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}


.book-card:hover .book-card-footer {
  opacity: 1;
  visibility: visible;
}



